.product-cards {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    margin-right: 10px;
  }
  
  .product-title {
    margin-bottom: 10px;
  }
  
  .product-card-head {
    position: relative;
    top: 100px
  }
  
  .product-card-img {
    width: 350px;
    height: 350px;
    box-shadow: 1px 5px 10px rgb(90, 90, 90);
  }
  
  .product-card-footer {
    position: relative;
    bottom: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0;
  }
